{
    "presets": [
        ["@babel/env", {
            "modules": false
        }],
        "@babel/react"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-member-expression-literals",
        "@babel/plugin-transform-property-literals",
        ["transform-react-remove-prop-types", {
            "mode": "wrap"
        }]
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}
